.typesList {
  display: flex;
  gap: 1rem;
}

.listComponent {
  list-style: symbol-example;
}

@counter-style symbol-example {
  system: cyclic;
  symbols: ' ' '/';
  suffix: ' ';
}

.card:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.stats {
  display: grid;
  grid-template-areas:
    'hp attack'
    'defense speed';
  border-top: 1px grey solid;
}
.hp {
  grid-area: hp;
}
.attack {
  grid-area: attack;
}
.defense {
  grid-area: defense;
}
.speed {
  grid-area: speed;
}
